.review {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  
  &-profile {
    display: flex;
    justify-content: space-between;
    
    &-wrapper {
      display: flex;
      justify-content: center;
    }

    &__image {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    &-button {
      cursor: pointer;
      background: none;
      border: none;
      padding: 12px;
      
      &__img {
        height: 24px;
        width: 24px;
      }
    }
  }
}
